.body {
    height: 95vh;
    width: 100vw;
    display: flexbox;
}

.hover:hover {
    color: blueviolet;
}

.float {
    float: left;
}

.row1 {
    width: 60vw;
    height: 100vh;
}

.row2 {
    width: 40vw;
    height: 100vh;
    background: #afc3f1f5 0% 0% no-repeat padding-box;
}

.image2 {
    width: 80%;
    height: 100%;

}

.heading1 {
    margin-bottom: 5px;
    width: 313px;
    height: 164px;
    text-align: left;
    font: normal normal 900 120px/146px Avenir;
    letter-spacing: 0px;
    color: #C4B4F8;
    opacity: 1;
}

.heading2 {
    color: azure;
    margin-bottom: 70px;
    font: normal normal 200 50px/50px Avenir;
}

.text {
    position: absolute;
    margin-left: 100px;
    top: 100px;
}

.form1 {
    margin-left: 100px;
    width: 300px;
    margin-top: 10px;
    display: block;
    width : 300px;
    height:30px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
    border-bottom: 3px solid;
    background-color:#afc3f1f5 ;
}

.head1 {
    margin-top: 150px;
    margin-left: 145px;
    margin-bottom: 10px;
    width: 166px;
    height: 55px;
    text-align: center;
    letter-spacing: 0.41px;
    color: #0f0f0f;
    opacity: 1;
    font: normal normal 200 50px/50px Avenir;
}

.head3 {
    width: 415px;
    margin-left: 40px;
    margin-top: 0px;
    height: 20px;
    text-align: center;
    letter-spacing: 0.34px;
    color: #080808;
    opacity: 1;
    font: normal normal 100 30px/30px Avenir;
    font-size: 25px;
}

.button1 {
    margin-top: 30px;
    width: 100px;
    margin-left: 100px;
    padding: 8px;
    border-radius: 20px;
    background-color: #8a69f7;
    border-color: transparent;
    cursor: pointer;
    color: white;
}

.button1:hover {
    background-color: rgb(46, 135, 218);
    transform: scale(1.10);

}

form{
    margin-top: 20px;
}