.hide{

    display: none;
}
.visible{
    top: 80px;
    position: absolute;
    display:flexbox;
    border: 1px solid black;
    padding:30px;
    color:blue;
    background-color: black;
    border-radius: 5px;
    left: 400px;
    width: 500px;
    height:300px;
}
.visible:hover{
    background-color:rgba(0, 0, 0, 0);
}